.footer {
  background-color: transparent;
  color: #ffffffcc;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  margin: 1rem 0;
  width: 100%;
  .footer-details {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .logo_img {
    min-width: 100px;
    display: flex;
    align-items: center;
  }
}
