.footer {
  background-color: transparent;
  color: #ffffffcc;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  .footer-details {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .logo_img {
    img {
      width: 100px;
      height: auto;
    }
  }

  // Media Queries for Responsiveness
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
    .footer-details {
      flex-wrap: wrap;
      p {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .logo_img {
      margin-top: 20px;
    }
  }
}
