.slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 1rem;
  margin: 0 auto;
  position: relative;

  .slider-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    .slider_title {
      color: #ffffff;
      font-family: "Inter", Helvetica;
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: normal;
      text-align: center;
      // padding-left: 4rem;
    }

    button {
      cursor: pointer;
      font-family: "SF Compact-Regular", Helvetica;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: normal;
      padding: 0.5rem;
      border-radius: 32px;
      gap: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      border: 1px solid;
      background-color: transparent;
      -webkit-backdrop-filter: blur(40px) brightness(100%);
      backdrop-filter: blur(40px) brightness(100%);
      color: #ffffffcc;
    }
  }

  .slider-rail {
    display: flex;
    overflow: hidden;
    gap: 2rem;
    padding: 0 3rem;
    width: 100%;

    .slick-prev {
      left: 5px;
    }
    .slick-next {
      right: 5px;
    }
    .slider-item {
      position: relative;
      min-height: 320px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;

      &:hover > .img {
        height: 65%;
        filter: blur(7px);
        animation: anim 4s infinite;
      }

      .slider-item_number {
        color: #ffffffcc;
        font-size: 10rem;
        font-weight: 900;
        letter-spacing: 0;
        line-height: normal;
        margin: 0;
        font-stretch: expanded;
        position: relative;
        z-index: 1;
      }
      .isTrending {
        left: 30px;
        position: absolute;
        top: 0;
        width: auto;
        max-height: 250px;
        // z-index: -1;
      }
      img {
        width: 100%;
        object-fit: cover;
        max-width: 200px;
        border-radius: 30px;
        background: linear-gradient(0deg, #d9d9d9 0%, #d9d9d9 100%);
        box-shadow: "0px 4px 14px rgba(0, 0, 0, 0.30)";
        border: "1px rgba(255, 255, 255, 0.20) solid";

        &:hover {
          transform: scale(1.04) rotate(-1deg);
        }
        @keyframes anim {
          0% {
            transform: translateY(0);
          }

          50% {
            transform: translateY(-20px);
          }

          100% {
            transform: translateY(0);
          }
        }
      }
    }
  }
}
